{% extends 'main/layout.html' %}

{% block title %}Форма додавання новини {% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма додавання новини</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Додати новину</button>
        </form>
    </div>

{% endblock %}